header {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding:10px;
    font-family: 'Handjet', cursive;
    position: fixed;
   }
   header a{
    margin-right: 10px;
    margin-left: 20px;       
   }
   button {
    background-color: rgba(128, 128, 128, 0.19);
    border-radius: 50%;
    height: 10vh;
   }
   button:hover{
    background-color: white;
   }
.tabel-image {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 750px;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x:scroll;
    font-family: 'Roboto', sans-serif;
}
.tabel-image li{
    font-size: 2vh;
    line-height: 1.2;
    margin-bottom: 50px;
    margin-top: 20px;
    color: white;
    background-color: rgba(128, 128, 128, 0.303);
}
body {
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.9pcUT-M3e0f5p-r3uusLXQHaHa&pid=Api&P=0&h=180);
}
@media (max-width: 700px) {
    h1 {
        padding-top: 30px;
    }
}
