
       body {
           display: contents;
           align-items: center  ;
       }
       header {
        display: flex;
        width: 90%;    
        border: 2px solid black;       
        height: 30px;
        font-family: 'Handjet', cursive;
        background: rgb(300, 250, 230);
       }
       header a{
         font-size: 20px;
         width: 80%;
         text-decoration: none;
         align-self: center;
         color: black;
         font-weight: bold; 
         margin-left: 10px;       
        }
       header a:hover{
         cursor: pointer;
         background: #e43d0f;
               
       }
       .container {
        display: flex;
        background: rgb(400, 100, 100);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-left: 20px;
        padding-bottom: 100px;
       }
       .container img{
        width:200px;
        height: 100px;
       }
       .html {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        padding: 20px;
        max-height: 100%;
       }
       .html a{
        text-decoration: underlined;
        font-size: 20px;
        color: black;
        font-weight: bold;
       }
       .html img{
        max-width: 100%;
       }
       .advanced-tags {
        display: flex;
       }
       .advanced-tags a {
        text-decoration: underline;
        font-size: 20px;
        color: black;
        font-weight: bold;
    }
    .container2 {
        display: flex;
        background: rgb(100, 100, 350);
        flex-direction: column;
        padding-left: 20px;
        padding-bottom: 100px;
    }
    .css {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        padding: 20px;
        max-height: 100%;
        margin-bottom: 50px;
    }
    .css a{
        text-decoration: underlined;
        font-size: 20px;
        color: black;
        font-weight: bold;
    }
    @media (max-width: 768px) {
        header {
           width: 80%;
           height: auto;
        }
    }
    @media (max-width: 768px) {
        header a:hover{
           width: 70%;
           height: auto;
        }
    }
       