body {
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.9pcUT-M3e0f5p-r3uusLXQHaHa&pid=Api&P=0&h=180);
    position: relative;
    color: white;
}
header {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding:10px;
    font-family: 'Handjet', cursive;
    position: fixed;
   }
   header a{
    margin-right: 10px;
    margin-left: 20px;       
   }
   button {
    background-color: rgba(128, 128, 128, 0.19);
    border-radius: 50%;
    height: 10vh;
   }
   button:hover{
    background-color: white;
   }
.element1 {
    max-width: 100%;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}
.container {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}
.element3 li{
    padding: 3px;
}
@media screen and (max-width: 450px) {
    .container {
        max-width: 100%;
        height:auto
    }
}
@media screen and (max-width: 450px) {
  
    .element2,
    .element3,
    .element4 {
        max-width: 75%;
        height: auto;
    }
}
@media screen and (max-width: 450px) {
    .element4 img{
        max-width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .element1 {
       padding-top: 50px;
    }
}
p {
    font-family: 'Roboto', sans-serif;
}
h4 {
    font-family: 'Noto Sans', sans-serif;
}